.user-item {
    border-radius: 0.5rem;
    border: #2e7d32 1px solid;
    padding: 0.5rem;
    background-color: white;
}
.user-profile-picture{
    width: 5rem;
    height: 5rem;
    border: #2e7d32 1px solid;
    border-radius: 50%;
    object-fit: cover;
}