.user-details-profile-picture {
    width: 10rem;
    height: 10rem;
    border: #2e7d32 1px solid;
    border-radius: 50%;
    object-fit: cover;
}

.user-details-container {
    width: 60rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.user-details-margin {
    margin: 0 !important;
    margin-left: 1.5rem !important;
}

.user-button {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    height: 2rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-accept {
        background-color: #4caf50;

        &:hover {
            background-color: #388e3c;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        }
    }

    &-delete {
        background-color: #ff0000;

        &:hover {
            background-color: #c50000;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        }
    }

    &-block {
        transform: translate(-390%, -100%);
    }
}

.user-details-nav-button {
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover {
        background-color: #cccccc;
        transition: 0.5s;
    }

    &-active {
        border: #8d8d8d 2px solid;
    }
}

.friends-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 40rem;
    max-height: 35rem;
    overflow: auto;
}

.modalClose {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    transition: color 0.2s ease-in-out;
}

.invite-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    height: 2rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #388e3c;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }
}

.user-details-group-photo {
    width: 5rem;
    height: 5rem;
    border: #2e7d32 1px solid;
    border-radius: 50%;
    object-fit: cover;
}

.group-container {
    max-height: 40rem;
    overflow-y: auto;
}

.invite-user-button {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-170%, -100%);
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    height: 2rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4caf50;

    &:hover {
        background-color: #388e3c;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }
}