.group-item {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 30rem;
    flex-shrink: 0;
    position: relative;
}

.group-photo {
    width: 20rem;
    height: 20rem;
    border-radius: 0.5rem;
    border: #2e7d32 1px solid;
    object-fit: cover;
    cursor: pointer;
}

.group-name {
    width: 20rem;
    overflow-wrap: break-word;
}