* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Zapewnia przewijanie na poziomie całej strony */
}

body {
  background-color: #E0E0E0 !important;
  font-family: Arial, sans-serif;
}

button {
  transition: 0.3s ease;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}