* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

body {
  background-color: #f3f3f3 !important;
  font-family: Arial, sans-serif !important;
}

button {
  transition: 0.5s ease;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}