.font-green {
    &-medium {
        font-size: 1.5rem;
        color: #1b5e20;
    }

    &-small {
        font-size: 1rem;
        color: #1b5e20;
    }
}

.font-grey-small {
    font-size: 1rem;
    color: #999;
}